# Игнорируем все в target (кроме собранного JAR)
target/*
!target/*.jar

# Игнорируем IDE файлы
.idea
.vscode
*.iml

# Игнорируем системные файлы
.DS_Store
.git
.gitignore

# Игнорируем логи
*.log

# Игнорируем временные файлы
tmp
temp